<?xml version="1.0"?>
<psalm
    errorLevel="3"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src" />
        <directory name="tests" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <PropertyNotSetInConstructor>
            <errorLevel type="suppress">
                <directory name="tests"/>
                <file name="src/Component/HttpFoundation/RedirectResponse.php" />
                <file name="src/Component/HttpFoundation/Response.php" />
            </errorLevel>
        </PropertyNotSetInConstructor>

        <PossiblyUndefinedMethod>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </PossiblyUndefinedMethod>

        <PossiblyInvalidArgument>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </PossiblyInvalidArgument>

        <MismatchingDocblockPropertyType>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </MismatchingDocblockPropertyType>

        <MixedMethodCall>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </MixedMethodCall>

        <RedundantPropertyInitializationCheck>
            <errorLevel type="suppress">
                <file name="src/Component/HttpFoundation/RedirectResponse.php" />
            </errorLevel>
        </RedundantPropertyInitializationCheck>

        <InvalidScalarArgument>
            <errorLevel type="suppress">
                <file name="src/Component/HttpFoundation/Response.php" />
            </errorLevel>
        </InvalidScalarArgument>

        <MoreSpecificImplementedParamType>
            <errorLevel type="suppress">
                <file name="src/Component/HttpFoundation/ResponseFactory.php" />
            </errorLevel>
        </MoreSpecificImplementedParamType>
    </issueHandlers>
</psalm>
